<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- The database connection string -->
  <DatabaseConnectionString>Data Source=DETSVR210;Initial Catalog=pwreset;Integrated Security=SSPI</DatabaseConnectionString>
  
  <!-- Enable/Disable the password expiry notifier -->
  <EnableExpiryNotifier>true</EnableExpiryNotifier>  
  <!-- The time at which to run the password expiry notifier (daily) -->
  <RunExipryNotifierAt>01:00:00</RunExipryNotifierAt>
  <!-- The number of days before password expiration to notify the user -->
  <NotifyBeforeDays>7</NotifyBeforeDays>

  <!-- The subject of the notification email -->
  <EmailSubject>Password Expiry</EmailSubject>
  <!-- The name of the sender (From feild) -->
  <EmailFromName>Password Expiry Notifier</EmailFromName>
  <!-- The email of the sender (From feild) -->
  <EmailFromAddress>notifications@mydomain.net</EmailFromAddress>

  <!-- The subject of the enrollment reminder email -->
  <ReminderEmailSubject>Password Reset Enrollment</ReminderEmailSubject>
  <!-- The name of the sender (From field) for the enrollment reminder -->
  <ReminderEmailFromName>Password Reset Enrollment</ReminderEmailFromName>
  <!-- The email of the sender (From field) for the enrollment reminder -->
  <ReminderEmailFromAddress>notifications@mydomain.net</ReminderEmailFromAddress>
  
  <!-- SMTP server host address -->
  <SMTPHost>mail.myserver.com</SMTPHost>
  
  <!-- SMTP server port number -->
  <SMTPPort>25</SMTPPort>
  <!-- Indicates if the SMTP server requires authentication -->
  <SMTPRequiresAuthentication>false</SMTPRequiresAuthentication>
  <!-- The domain to supply if the SMTP server requires authentication -->
  <SMTPCredentialsDomain></SMTPCredentialsDomain>
  <!-- The username to supply if the SMTP server requires authentication -->
  <SMTPCredentialsUsername></SMTPCredentialsUsername>
  <!-- The password to supply if the SMTP server requires authentication -->
  <SMTPCredentialsPassword></SMTPCredentialsPassword>
  <!-- Indicates whether the SMTP server requires an SSL connection -->
  <SMTPEnableSSL>false</SMTPEnableSSL>
  
  <!-- Indicates whether the Reset feature is enabled or disabled -->
  <EnableReset>true</EnableReset>
  <!-- Indicates whether the Unlock feature is enabled or disabled -->
  <EnableUnlock>true</EnableUnlock>
  <!-- Indicates whether the Change Password feature is enabled or disabled -->
  <EnableChangePassword>true</EnableChangePassword>

  <!-- Indicates whether to allow the user to unlock his account in the Reset wizard -->
  <AllowUnlockInReset>true</AllowUnlockInReset>
  <!-- Indicates whether the "Ask me to change the password at next login" checkbox is visible or not -->
  <AllowChangeOnNextLogin>true</AllowChangeOnNextLogin>
  <!-- Indicates whether to show a custom question in enrollment or not -->
  <EnableCustomQuestion>true</EnableCustomQuestion>
  
  <!-- The number of verification questions to ask the user to enter on enrollment -->
  <NumberOfQuestions>4</NumberOfQuestions>
  <!-- The number of answers required to reset the password -->
  <NumberOfAnsweresForReset>2</NumberOfAnsweresForReset>
  <!-- The number of answers required to unlock the account -->
  <NumberOfAnsweresForUnlock>2</NumberOfAnsweresForUnlock>

  <!-- Enable/Disable application-level user lockout if the user exceeded the maximum number of failed attempts -->
  <EnableUserLockout>true</EnableUserLockout>
  <!-- The maximum number of failed attempts in within a period (PeriodOfFailedAttempts) -->
  <MaxNumberOfFailedAttempts>3</MaxNumberOfFailedAttempts>
  <!-- The period of failed attempts (minutes) -->
  <PeriodOfFailedAttempts>15</PeriodOfFailedAttempts>
  <!-- The lockout time after the MaxNumberOfFailedAttempts is reached within PeriodOfFailedAttempts (minutes) -->
  <LockoutTime>30</LockoutTime>
  
  <!-- The list of predifined questions for user enrollment -->
  <Questions>
    <Question Text="What is your mother's maiden name?" />
    <Question Text="What is your father's middle name?" />
    <Question Text="What was the name of your first school?" />
    <Question Text="Who was your childhood hero?" />
    <Question Text="What make was your first car or bike?" />
    <Question Text="What is your first pet's name?" />
    <Question Text="Where did you first meet your spouse?" />
    <Question Text="What is your all-time favorite sports team?" />
  </Questions>
</Settings>