<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ExcludeOUs />
  <DatabaseConnectionString>Data Source=|DataDirectory|\Database.sdf</DatabaseConnectionString>
  <DatabaseServer>SqlCE</DatabaseServer>
  <EnableEnrol>true</EnableEnrol>
  <EnableReset>true</EnableReset>
  <EnableUnlock>true</EnableUnlock>
  <EnableChangePassword>true</EnableChangePassword>
  <AllowUnlockInReset>true</AllowUnlockInReset>
  <HideFinish>false</HideFinish>
  <HideDomainSelection>true</HideDomainSelection>
  <MaskAnswerFields>false</MaskAnswerFields>
  <AllowChangeOnNextLogin>true</AllowChangeOnNextLogin>
  <EnablePasswordStrengthIndicator>true</EnablePasswordStrengthIndicator>
  <NumberOfQuestions>4</NumberOfQuestions>
  <NumberOfAnswersForReset>2</NumberOfAnswersForReset>
  <NumberOfAnswersForUnlock>2</NumberOfAnswersForUnlock>
  <Questions>
    <Question Text="What is your mother's maiden name?" />
    <Question Text="What is your father's middle name?" />
    <Question Text="What was the name of your first school?" />
    <Question Text="Who was your childhood hero?" />
    <Question Text="What make was your first car or bike?" />
    <Question Text="What is your first pet's name?" />
    <Question Text="Where did you first meet your spouse?" />
    <Question Text="What is your all-time favorite sports team?" />
    <Question Text="Who is your favorite teacher?" />
    <Question Text="What is your favorite TV show?" />
    <Question Text="Who was your best friend in the first grade?" />
    <Question Text="What was the name of your first stuffed animal?" />
    <Question Text="In what city or town did your mother and father meet?" />
    <Question Text="What is your oldest cousin's first and last name?" />
    <Question Text="What is your grandmother's first name?" />
    <Question Text="What was the name of your first pet?" />
    <Question Text="What was your favorite place to visit as a child?" />
    <Question Text="What was the color of your first bike?" />
    <Question Text="What is your mother's middle name?" />
    <Question Text="What time of the day were you born? (hh:mm)" />
  </Questions>
  <EnableCustomQuestion>true</EnableCustomQuestion>
  <SMTPHost>mail.myserver.com</SMTPHost>
  <SMTPPort>25</SMTPPort>
  <SMTPRequiresAuthentication>false</SMTPRequiresAuthentication>
  <SMTPCredentialsUsername />
  <SMTPCredentialsPassword />
  <SMTPCredentialsDomain />
  <SMTPEnableSSL>false</SMTPEnableSSL>
  <SenderName />
  <SenderEmail />
  <EnableExpiryNotifier>true</EnableExpiryNotifier>
  <RunExipryNotifierAt>01:00:00</RunExipryNotifierAt>
  <FirstNotifyBeforeDays>7</FirstNotifyBeforeDays>
  <SecondNotifyBeforeDays>3</SecondNotifyBeforeDays>
  <LastNotifyBeforeDays>1</LastNotifyBeforeDays>
  <EmailSubject>Password Expiry</EmailSubject>
  <EmailFromName>Password Expiry Notifier</EmailFromName>
  <EmailFromAddress>notifications@mydomain.net</EmailFromAddress>
  <EnableExpiryMessageAndEmailLog>false</EnableExpiryMessageAndEmailLog>
  <ReminderEmailSubject>Password Reset Enrollment</ReminderEmailSubject>
  <ReminderEmailFromName>Password Reset Enrollment</ReminderEmailFromName>
  <ReminderEmailFromAddress>notifications@mydomain.net</ReminderEmailFromAddress>
  <EnableUserLockout>true</EnableUserLockout>
  <MaxNumberOfFailedAttempts>3</MaxNumberOfFailedAttempts>
  <PeriodOfFailedAttempts>15</PeriodOfFailedAttempts>
  <LockoutTime>30</LockoutTime>
  <EnableDomainPassPolicy>true</EnableDomainPassPolicy>
  <EnablePasswordHistory>false</EnablePasswordHistory>
  <LastPassCountNotAllowed>5</LastPassCountNotAllowed>
  <EnableResetOthers>false</EnableResetOthers>
  <UserGroups />
  <HomeHeader>To use AD Self Password Reset you first need to enroll, once enrolled you can reset your password and unlock your account by answering several personal security questions.</HomeHeader>
  <ButtonEnroll>Enroll</ButtonEnroll>
  <ButtonResetPassword>Reset Password</ButtonResetPassword>
  <ButtonUnlockAccount>Unlock Account</ButtonUnlockAccount>
  <ButtonChangePassword>Change Password</ButtonChangePassword>
  <ButtonHelpdesk>Helpdesk/Teacher</ButtonHelpdesk>
  <ProductName>AD Self Password Reset</ProductName>
  <ButtonNext>Next</ButtonNext>
  <ButtonCancel>Cancel</ButtonCancel>
  <ButtonFinish>Finish</ButtonFinish>
  <BannerColor />
  <ButtonColor />
  <ButtonShadeColor />
  <EnrollFirstStep>Please enter your account name and current password.</EnrollFirstStep>
  <EnrollSecondStep>Please answer the following questions:</EnrollSecondStep>
  <EnrollLastStep>Account Enrolled</EnrollLastStep>
  <EnrollSuccessMsg>Congratulations! Your account has been enrolled successfully.</EnrollSuccessMsg>
  <ResetFirstStep>Please enter your account name and then select your domain.</ResetFirstStep>
  <ResetSecondStep>Please answer the following questions:</ResetSecondStep>
  <ResetThirdStep>Please enter your new password and confirm it.</ResetThirdStep>
  <ResetLastStep>Password Reset</ResetLastStep>
  <ResetSuccessMsg>Congratulations! Your password has been reset.</ResetSuccessMsg>
  <UnlockFirstStep>Please enter your account name and then select your domain.</UnlockFirstStep>
  <UnlockSecondStep>Please answer the following questions:</UnlockSecondStep>
  <UnlockLastStep>Account Unlocked</UnlockLastStep>
  <UnlockSuccessMsg>Congratulations! Your account has been unlocked.</UnlockSuccessMsg>
  <ChangePassFirstStep>Enter your username and password information. Click Next button to continue.</ChangePassFirstStep>
  <ChangePassLastStep>Password Changed</ChangePassLastStep>
  <ChangePassSuccessMsg>Congratulations! Your password has been changed successfully.</ChangePassSuccessMsg>
  <HelpdeskFirstStep>Please verify your account for resetting password of managed users.</HelpdeskFirstStep>
  <HelpdeskSecondStep>Please enter the credentials for the user whose password you want to change.</HelpdeskSecondStep>
  <HelpdeskLastStep>Password Reset</HelpdeskLastStep>
  <HelpdeskSuccessMsg>Congratulations! Password for &lt;b&gt;{0}&lt;/b&gt; has been reset.</HelpdeskSuccessMsg>
  <EnableLogo>false</EnableLogo>
  <ErrorMsgForEmptyCaptcha>Captcha answer cannot be empty.</ErrorMsgForEmptyCaptcha>
  <ErrorMsgForEmptyModel>Some of the fields are still blank.</ErrorMsgForEmptyModel>
  <ErrorMsgForExcludeOU>You are not allowed to use this feature.</ErrorMsgForExcludeOU>
  <ErrorMsgForPasswordPolicy>The password does not meet the password policy requirements. Check the minimum password length, password complexity and password history requirements.</ErrorMsgForPasswordPolicy>
  <ErrorMsgForWrongCaptcha>Incorrect captcha answer.</ErrorMsgForWrongCaptcha>
  <Domain>Select Domain:</Domain>
  <DomainFirstItem>Select domain</DomainFirstItem>
  <Question>Question:</Question>
  <Answer>Answer:</Answer>
  <Username>Username:</Username>
  <Password>Password:</Password>
  <PasswordNew>New password:</PasswordNew>
  <PasswordConfirm>Confirm password:</PasswordConfirm>
  <ErrorMsgForDomain>* Please select correct domain.</ErrorMsgForDomain>
  <ErrorMsgForAnswer>* An answer is required</ErrorMsgForAnswer>
  <ErrorMsgForNoDomains>No domains have been setup.</ErrorMsgForNoDomains>
  <ErrorMsgForUsername>* Please enter your username</ErrorMsgForUsername>
  <ErrorMsgForUserLockedOut>You have exceeded the maximum failed attempts. Please try again later.</ErrorMsgForUserLockedOut>
  <ErrorMsgForUnauthorizedUser>Your Username or Password is incorrect.</ErrorMsgForUnauthorizedUser>
  <ErrorMsgForPassword>* Please enter your password</ErrorMsgForPassword>
  <ErrorMsgForNewPassword>* Please enter a new password</ErrorMsgForNewPassword>
  <ErrorMsgForInvalidAnswers>Invalid answers. Please try again.</ErrorMsgForInvalidAnswers>
  <ErrorMsgForPasswordConfirmation>The new password and the confirmation do not match.</ErrorMsgForPasswordConfirmation>
  <LoadForAuthentication>Authenticating</LoadForAuthentication>
  <LoadForVerification>Verifying answers</LoadForVerification>
  <LoadForPasswordSet>Resetting password</LoadForPasswordSet>
  <CustomQuestion>Custom question:</CustomQuestion>
  <QuestionFirstItem>Select a question</QuestionFirstItem>
  <QuestionLastItem>Custom question</QuestionLastItem>
  <LoadForSaving>Saving question and answers</LoadForSaving>
  <ErrorMsgForAlreadyUnsubscribed>Enrolment not allowed, please speak to your administrator.</ErrorMsgForAlreadyUnsubscribed>
  <ErrorMsgForAnsLessChars>Your answers must be longer than two characters.</ErrorMsgForAnsLessChars>
  <ErrorMsgForCharacterLimit>Allowed character limit of 256</ErrorMsgForCharacterLimit>
  <ErrorMsgForCustomQuestion>* Please enter a question</ErrorMsgForCustomQuestion>
  <ErrorMsgForInvalidUser>User with username '{0}' not found.</ErrorMsgForInvalidUser>
  <ErrorMsgForQuestion>* Please select a question</ErrorMsgForQuestion>
  <ErrorMsgForSameQuestion>No two questions can be same.</ErrorMsgForSameQuestion>
  <ErrorMsgForSameAnswer>No two answers can be same.</ErrorMsgForSameAnswer>
  <ChkboxMustChangePass>Ask me to change password at next login</ChkboxMustChangePass>
  <ChkboxUnlockAccount>Unlock my account</ChkboxUnlockAccount>
  <ErrorMsgForEmptyFields>DomainName and Username found null or empty.</ErrorMsgForEmptyFields>
  <ErrorMsgForPassExistForReset>You cannot use your previous password.</ErrorMsgForPassExistForReset>
  <ErrorMsgForUserNotEnrolledForReset>Before you can reset your account you first need to enroll.</ErrorMsgForUserNotEnrolledForReset>
  <ErrorMsgForUserNotEnrolledForUnlock>Before you can unlock your account you first need to enroll.</ErrorMsgForUserNotEnrolledForUnlock>
  <ErrorMsgForDomainAndUserBlank>DomainName and Username both found blank.</ErrorMsgForDomainAndUserBlank>
  <PasswordOld>Old password:</PasswordOld>
  <LoadForChangePass>Changing password</LoadForChangePass>
  <ErrorMsgForPasswordOld>* Old password is required</ErrorMsgForPasswordOld>
  <ErrorMsgForManageGroup>You are not allowed to reset password of this user.</ErrorMsgForManageGroup>
  <ErrorMsgForNoUser>Username not found.</ErrorMsgForNoUser>
  <ErrorMsgForPassExistForResetOthers>Last {0} password(s) cannot be use. Please enter new password.</ErrorMsgForPassExistForResetOthers>
  <ErrorMsgForPrivGroup>You are not authorised to change other users' passwords.</ErrorMsgForPrivGroup>
  <ErrorMsgForUserNotVerifiedAnswers>You have not verified answers to your questions.</ErrorMsgForUserNotVerifiedAnswers>
  <ErrorMsgForNotAuthenticUser>You need to authenticate to reset the password of another user.</ErrorMsgForNotAuthenticUser>
  <ExcludeOU />
  <ExcludeGroups />
  <EnableCaptcha>false</EnableCaptcha>
  <ReCaptchaPrivateKey></ReCaptchaPrivateKey>
  <ReCaptchaPublicKey></ReCaptchaPublicKey>
</Settings>
